{% extends 'librarian/lr_mainbase.html' %} {% load static %} {% block title%}<title>Home</title>{% endblock title %}Librarian {% block content %}

<div><h1 class="lr_head">HOME</h1></div>
<div>
  <p class="lr_para">
    “If this nation is to be wise as well as strong, if we are to achieve our
    destiny, then we need more new ideas for more wise men reading more good
    books in more public libraries. These libraries should be open to all—except
    the censor. We must know all the facts and hear all the alternatives and
    listen to all the criticisms. Let us welcome controversial books and
    controversial authors. For the Bill of Rights is the guardian of our
    security as well as our liberty. ― John F. Kennedy
  </p>
</div>
{% endblock content %}
