{% extends 'customer/cu_base.html' %} {% load static %} 

{% block title %}<title>Login</title>{% endblock title %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" class="cu_login_form">
    {% csrf_token %} 
<div>
    <div><h1>LOGIN</h1></div>
    <div >
        <div  class="reg_form_input" >
            <label >Enter UserName</label><br>
            {{ form.username}}</div>
            <div  class="reg_form_input">
                <label >Enter your Password</label><br>
                {{ form.password}}</div>
    </div>
</div>
<div> <button class="cu_login_btn"> Login</button></div>

</div>
<div>
    <a href="{% url 'cu_register' %}" style="margin-left: 180px;">New User ?</a>
</div>
</form>

{% endblock %}
