{% extends 'admin/ad_mainbase.html' %}
{% load static %}

{% block title %}<title>Booktaken</title>{% endblock title %}

{% block content %}

<table  class="table table-primary " style="width:100%  "   style="margin-left: 500px;border: 3px solid black;margin-top: 300px;width: 700px;font-size: 30px;font-style: italic; color: white;background-color: white;">
   
    <tr>
        <th>NAME</th>
        <th>STARTDATE</th>
        <th>PHONENO</th>
        <th>TAKEDBOOK</th>
        <th>Expiry time</th>
        <th>ACTION</th>
        
    </tr>
    {% for i in takedbooks %}

    <tr>
        <td>{{i.name}}</td>
        <td>{{i.startdate}}</td>
        <td>{{i.phoneno}}</td>
        <td>{{i.bookname}}</td>
        <td>{{i.How_many_days_you_need}}</td>
        <td><a href="{% url 'ad_booktakendel' i.id %}"><button class="button btn-danger text-white">DELETE</button></a></td>
        
    </tr>

    {% endfor %}
 

</table>

{% endblock content %}