{% extends 'admin/ad_mainbase.html' %} {% load static %}
{% block title %}<title>change Password</title>{% endblock title %}


{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="changepassword" style="margin-left: 700px; margin-top: 300px;width: fit-content;width: 300px;">
 
    <div>
        <form method="post" style="border:3px solid black;padding:30px; box-shadow: 15px 40px 30px black;">

            {% csrf_token %}
            <div>
                <h1 class="lr_passheading">change Your Password Here</h1>
            </div>
            {{form.as_p}}
            <button type="submit" class="lr_passbtn button btn-danger btn-lg">Change Now</button>
        </form>
    </div>
</div>
{% endblock content %}