{% extends 'Admin/ad_mainbase.html' %}
{% load static %}
{% block title %}<title>Index</title>{% endblock title %}

{% block content %}
<div class="main_home">
    <div>
        <h1 class="ad_homeh">ADMIN HOME</h1>
    </div>
    <div>
        <p class="ad_parah">"Libraries store the energy that fuels the imagination. They open up windows to the world
            and inspire us to explore and achieve, and contribute to improving our quality of life."A large percentage
            of the library literature focused around new librarians discusses challenges and solutions for new
            librarians after they have been hired by a library organization. However, a few best practices related to
            recruitment and hiring of new librarians can be extrapolated from the known factors that influence job
            dissatisfaction among new, and other, library professionals. As the literature on job dissatisfaction
            reveals,.</p>
    </div>
</div>
{% endblock content %}