{% extends 'admin/ad_mainbase.html' %}

{% load static %}

{% block title %}

<title> LIBRARIANS</title>

{% endblock title %}

{% block content %}

<table  class="table table-primary " style="width:100%  "   style="margin-left: 500px;border: 3px solid black;margin-top: 300px;width: 700px;font-size: 30px;font-style: italic; color: white;background-color: white;">
    <tr>
        <th>NAME</th>
        <th>IMAGE</th>
        <th>AGE</th>
        <th>ACTION</th>
    </tr>
    {% for i in readers %}

    <tr>
        <td>{{i.name}}</td>
        <td>{{i.image.url}}</td>
        <td>{{i.age}}</td>
    
        <td><a href="{% url 'ad_del_li' i.id %}"><button class="button btn-danger" type="submit" >DELETE</button></a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}